.App {
  text-align: center;
}

.form-wrapper {
  width: 500px;
  margin: 0 auto;
}

.page-wrapper {
  margin-top: 80px;
}

.navbar {
  height: 100px;
  line-height: 100px;
  font-size: 1.5rem;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
